<!DOCTYPE html>
<html>
    <head>
        <style>
            img {
                height: 100px;
                float: left;
            }
        </style>
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
            integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
            crossorigin="anonymous"
        />

        <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    </head>

    <body>
        <div id="app" class="container">
            <input v-model="keyword" placeholder="キーワードを入力" />
            <button v-on:click="searchAlbum">検索</button>

            <table class="table table-striped">
                <thead v-if="results">
                    <tr>
                        <th>#</th>
                        <th>ジャケット</th>
                        <th>アルバム名</th>
                        <th>アーティスト名</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(album, index) in results">
                        <th>{{ index + 1 }}</th>
                        <td>
                            <a v-bind:href="album.collectionViewUrl"
                                ><img v-bind:src="album.artworkUrl100"
                            /></a>
                        </td>
                        <td>
                            {{ album.collectionName }}
                        </td>
                        <td>
                            {{ album.artistName }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <script>
            // 検索用関数
            var search = function() {
                var data = {
                    params: {
                        term: this.keyword,
                        country: 'jp',
                        media: 'music',
                        lang: 'ja_jp',
                        entity: 'album',
                        limit: '10'
                    }
                };
                axios
                    .get('https://itunes.apple.com/search', data)
                    .then(res => {
                        this.results = res.data.results;
                        // console.log(self.results.length)
                        // for (i = 0; i < self.results.length; i++) {
                        //     console.log(self.results[i].collectionName, self.results[i].artistName, self.results[i].collectionViewUrl, self.results[i].artworkUrl100)
                        // }
                    })
                    .catch(function(err) {
                        console.log(err);
                    });
            };

            var vm = new Vue({
                el: '#app',
                data: {
                    results: null,
                    keyword: 'Giulietta Machine'
                },
                methods: {
                    searchAlbum: search
                },
                // mounted: search
            });
        </script>
    </body>
</html>
